*{
    margin: 0;
    padding: 0;
    font-family:'inter', 'almarai', sans-serif;
    width: 375px;
    /* height: 962px; */
}

body{
    margin: 10px auto;
    display: block;
    padding: 20px;
    width: fit-content;
    /* justify-content: center;
    align-items: center; */
}

header{
    text-align: center;
    margin: 10px;
    /* height: 142px; */
    justify-content: space-between;
    width: 375px;
    }

header h2{
    line-height: 44px;
    height: 38px;
    font: 'inter';
    font-size: 30px;
}

.topnav .toptext{
    color: #7F56D9;
    font-weight: bold;
}
.topnav  p{
    /* wed love to hear  */
    font-size: 16px;
    font-weight: light;
    color: rgb(93, 93, 93);
    line-height: 28px;
    margin: 5px;
    /* height: 56px; */
    width: 343px;
    letter-spacing: -.5px;
}

form{
    display: block;
    align-items: center;
}

form > label{
    font-size: 12px;
    line-height: 40px;
    font-family: 'inter';

}

form > input{
    padding: 10px;
    border: 1px solid rgba(147, 147, 147, 0.5);
    border-radius: 5px;
    }

form input placeholder{
    font-size: 5px;
}

#message-box{
    height: 74px;
    margin-bottom: 10px;
    border: 1px solid rgba(147, 147, 147, 0.5);
}

.footer{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 20px;
}

form .footer input{
    margin-left: -150px;
}

form .footer p{
    font-size: 13px;
    margin-left: -150px;
}

form .footer p a{
    color: black;
}

button{
    background-color: #7F56D9;
    color: white;
    padding: 50px 10px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



