:root{
    --gray:#495150;
    --grin:#319b88;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'manrope', 'inter', sans-serif;
}

nav{
    padding: 10px 20px;
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 0%;
}

.top-left{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font: 'manrope';
    width: 100%;
}

/* .top-left ul{s
    margin-left: -30%;
} */

.top-left ul li{
    list-style: none;
    display: inline-block;
    justify-content: space-around;
    font-size: 16px;
    padding: 10px;
}

.top-left ul li:first-child{
    color: var(--grin);
    font-weight: bold;
    text-decoration: none;
}

.top-left ul li:first-child a{
    color: var(--grin);
}

.top-left ul li:last-child{
    margin-left: 80%;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 25px;
    background-color: var(--grin);
    margin-left: 100px;
}

.top-left ul li:last-child a {
    color: white; 
}

.top-left ul li a {
    text-decoration: none;
    color: var(--gray);
}

.top-left #sign-in{
    padding-left: 80px;
    float: right;
}

/* header{
    width: 100%;
    margin: 5% 20%;
    display: inline-block;
    justify-content: space-between;
} */

header {
    /* text-align: center; Center text horizontally */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 3% 0%; /* Remove default margin */
}

.e-wallet-text{
    font: 'manrope';
    font-size: 10px;
    border: 1px solid rgb(154, 154, 154);
    color: var(--gray);
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
    margin-left: 15%;
    margin-bottom: -100%;
}

.the-top-text{
    font: 'manrope';
    font-size: 10px;
    border: 1px solid rgb(154, 154, 154);
    color: var(--gray);
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: inline-block;
}

.header-image-and-text{
    width: 70%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.header-left-text{
    text-align: left;
    font: bolder;
    width: 70%;
}

.header-left-text h1{
    font-size: 75px;
    line-height: 80px;
    padding: 6% 0%;
    color: var(--gray);
}

.header-left-text h1 span{
    color: var(--grin);
}
/* header .header-right-image{
    margin-top: -10%;
    width: 65%;
    height: auto;
} */

.header-right-image img{
    width: 130%;
    align-items: right;
    height: auto;
    margin-top: -5%;
    margin-left: 5%;
}

.header-left-text p{
    font-size: 20px;
    padding: 10px 0px;
    width: 90%;
    letter-spacing: normal;
    /* line-height: 10px; */
}

.header-left-text p:last-of-type {
    padding: 10px;
    /* font-size: 17px; */
    /* Your styles here */font: bolder;
}

.bottom-text img{
    width: 30%;
    height: auto;
    display: inline-block;
    justify-content: center;
    padding: 3px;
}

.bottompart {
    text-align: center;
    margin: 10px 0px; /* Center text horizontally within the bottompart */
    padding: 10px;
}

.bottompart-text {
    margin: 0; /* Remove default margin */
}

.Section1{
        /* text-align: center; Center text horizontally */
        display: flex; /* Use flexbox for centering */
        flex-direction: row; /* Stack items vertically */
        justify-content: space-around;
        align-items: center; /* Center items horizontally */
        margin: 0%; /* Remove default margin */
        width: 100%;
}

.left-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #e4fff5;
    /* padding: 10px 20px; */
    border-radius: 30px;
    width: 40%;
    height: auto;
}

.left-part h3{
    font-size: 70px;
    margin-bottom: -6%;
    color: var(--grin);
}

.left-part img{
    width: 70%;
    padding-bottom: -5%;
}

.right-part{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0%;
    width: 50%;
}

.right-part-text h2{
    font-size: 50px;
    width: 70%;
}

.right-part-text h2 span{
    color: var(--grin);
}

.right-part-text p:last-of-type{
    font-size: 21px;
    width: 70%;
    letter-spacing: normal;
    padding: 3% 0px;
    font-family: 'inter';
}

.icons-for-section1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
    width: 70%;
}

.icon img{
    width: 15%;
    padding: 8%;
    background-color: #e4fff5;
    border-radius: 30%;
}

.icon h3{
    font-family: 'manrope';
    padding: 3% 0%;
    font: bolder;
}

.icon p{
    font-size: 14px;
    font-family: 'inter';
    line-height: 18px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    /* text-align: center; */
}

.section2-top-text{
    text-align: center;
    padding: 5%;
    width: 70%;
}

.section2-top-text h2{
    font-size: 50px;
    font-family: 'manrope';
}

.section2-top-text span{
    color: var(--grin);
}

.section2-top-text p:last-of-type{
    font-size: 22px;
    font: lighter;
    font-family: 'inter';
}

.integration{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 5%;
    margin-top: -2%;
    border-radius: 1%;
    background-color: #e4fff5;
}

.integration-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    /* display: grid;
    grid-template-columns: 1fr;
    align-items: center; 
    margin: 0%; */
}

.integration-head h2{
    font-size: 60px;
    text-align: center;
    color: var(--grin);
    margin-bottom: 0%;
    width: 70%;
    margin-bottom: -6%;
    /* padding: 5%; */
}

.integration-head img{
    width: 80%;
}

.integration-text{
    width: 40%;
}

.integration-text h2{
    font-size: 40px;
    padding: 30px 0px;
    font-family: 'manrope';
    width: 100%;
}

.integration-text p{
    font-size: 18px;
    /* padding: 30px 0px; */
    font-family: 'inter';
    line-height: 30px;
    width: 90%;
}
.other2-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /*  */
}

.images h2{
    color: var(--grin);
    font-size: 80px;
    text-align: center;
    letter-spacing: -5px;
    margin-bottom: -8%;
}

.images{
    background-color: #e4fff5;
    padding: 0% 6%;
    padding-top: 3%;
    padding-bottom: -1%;
    /* width: 40%; */
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.section3{
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin: 3% 0;
    width: 100%;
    /* padding: 10px; */

}

 .section3-lefttext{
    width: 30%;
    align-items: center;
    justify-content: center;
}

.section3-lefttext h3{
    font-size: 60px;
    font-family: 'manrope';
    line-height: 60px;
    padding: 3% 0;
}


.section3-lefttext h3 span{
    color: var(--grin);
}

.section3-lefttext p:last-of-type{
    font-size: 24px;
    width: 76%;
    padding: 4% 0;
    font-family: 'inter';
    line-height: 35px;
    text-align: left;
}

.section3-lefttext button{
    background-color: #319b88;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px none var(--grin);
    letter-spacing: normal;
    font-family: 'inter';
    cursor: pointer;
}

.section3-cards{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0% 0;
    /* padding: 3% 0; */
}

.card{
    background-color: #e4fff5;
    margin: 1% 0%;
    padding: 30px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.card img{
    width: 15%;
    padding: 15px;
}

.card p{
    font-size: 40px;
    padding: 10px 0; 
}

.card h6{
    color: var(--grin);
    padding: 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
} 

.card h5{
    font-family: 'manrope';
    font-size: 16px;
}

.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;
    width: 100%;
    /* margin-left: -0px; */
    /* text-align: center; */
}

.section4-toptext{
    text-align: center;
    padding: 2% 0;
}

.section4-toptext h2{
    font-family: 'manrope';
    font-size: 56px;
}

.section4-toptext p:last-of-type{
    font-family: 'inter';
    font-size: 24px;
    padding: 2% 0;
}

.section4-toptext span{
    color: var(--grin);
}

.section4-row1 {
    display: grid;
    flex-direction: column;
    grid-template-rows: repeat(2, 250px);
    width: 30%;
    height: auto;
    text-align: right;
    /* margin: 3% 0; */
}

.section4-row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-family: 'manrope';
    background-color: #e4fff5;
    border-radius: 10px;
    width: 30%;
    margin: 0;
    justify-content: center;
}

.section4-row3 {
    display: grid;
    flex-direction: column;
    grid-template-rows: repeat(2, 250px);
    width: 30%;
    /* align-items: center; */
    height: auto;
    text-align: left;
    /* margin: 3% 0; */
}

.section4-card1{
    margin: 10px;
    /* display: flex; */
    flex-direction: column;
    background-color: #e4fff5;
    padding: 30px;
    border-radius: 10px;
    align-items: flex-end;
}

.section4-card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #e4fff5;
    padding: 30px;
    border-radius: 10px;
    align-items: flex-end;
}

.section4-card h2{
    font-family: 'manrope';
}

.section4-cards {
    display: flex;
    flex-direction: row;
    width: 90%;   
    margin: 0%;  
    /* margin-left: 130px; */
    justify-content: center;
} 


.section4-row2 h2{
    color: var(--grin);
    margin-bottom: -70px;
}

.section4-row2 img{
    width: 100%;
}

.undercards{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}

.undercard1{
    background-color: #f6f6f6;
    padding: 2% 5%;
    border-radius: 10px;
    margin: 2% 1%;
    text-align: center;
    justify-content: space-between;
}

.undercard1 h3{
    font-family: 'manrope';
    font-size: 30px;
}


